version: 2.1
jobs:
  build:
    working_directory: ~/java-playground
    docker:
      - image: cimg/openjdk:21.0.9
    steps:
      - checkout
      - run: javac -version
      - run: javac HelloWorld.java
      - run: java HelloWorld
workflows:
  version: 2
  build:
    jobs:
      - build
  daily_workflow:
    triggers:
      - schedule:
          cron: "0 20 * * *"
          filters:
            branches:
              only: /master/
    jobs:
      - build
